/* <!-- ==============etico website=============== 
Project Name: etico
Team Members: Jungmin Ahn, Colin Cheong, Lim Ing
Web Developing Start: 1st May 2022
============================================--> */
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
  overflow-x: hidden;
}
body {  
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  overflow: hidden;  
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #73c5eb;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;  
  color: #111;    
}
h3,h2 {
  font-family: 'Days One', sans-serif;    
}
p {
  font-size: 20px;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: rgba(255, 99, 77, 1);
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #FF634D;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #59B378;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #B6D65A;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;  
  /* margin-top: -10%; */
}
#header.header-scrolled, #header.header-inner-pages {  
  background: rgba(255, 99, 77, 0.9);
  
}
#header .logo { }
#header .logo a {
  color: #111;
  /* display: flex;
  align-items: center; */  
}
#header .logo a .etico-logo {  
  width: 110px;
  height: 24.39px;
 }

#header .logo a {
  color: #fff;
}
#header .logo img {
  max-height: 40px;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
#header > .container> ul {  
  /* background-color:wheat;  */
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 18px;
  font-weight: 500;
  color: #111;
  /* color: #fff; */
  white-space: nowrap;
  position: absolute;
  left: 24%;     
}
#header > .container> ul > li > a {
  color: #fff;
 }
 
 #header > .container> ul > li > a:hover {
  /* color: #3D808E */
 }
.navbar {
  padding: 0;    
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;  
}
.navbar li {
  position: relative;
  
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 18px;
  font-weight: 500;
  /* color: #111; */
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar .nav-link {
  color: #fff;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #111;
}
.navbar .getstarted {
  /* background-color:#209dd8; */
}
.navbar .getstarted:hover{
  color: #111;
  background-color: #fff;
  transition: .4s !important;
  border-radius: 8px !important;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar .getstarted:hover .get-etico  {
  color: #111;  
  transition: .4s !important;  
}                  
.navbar .dropdown ul {
  display: block;
  width: 160px;
  position: absolute;
  right: 40px;  
  left: -40px;
  top: calc(100% + 30px);
  margin: 0%;  
  padding: 16px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  /* min-width: 200px; */
}
.navbar .dropdown ul a {
  padding: 5px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
  display: flex;
  align-items: center;
  justify-content:left;
  margin-bottom: 16px;  
}
.navbar .dropdown ul li:last-child a {
  margin-bottom: 4px;
 }
 .navbar .dropdown ul a > .a-icon, .g-icon {
  /* width: 24px; */
  height: 24px;  
  margin-right: 8px;
  /* display: inline-block;   */  
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  /* color: #47b2e4; */
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  /* left: calc(100% - 30px); */
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
.navbar-container {
  position: relative;  
  /* background-color:beige; */
}
.navbar-container-wrap {
  /* background-color: aqua; */
  display: flex;
  position: absolute;  
  right: 600%;  
}
@media (max-width: 1400px) {
  .navbar-container-wrap {
    /* background-color: aqua; */
    display: flex;
    position: absolute;  
    right: 460%;  
  }
  #Impacts .row-impacts {
    margin: 0px -300000px !important;
   }
  .col-xl-3 {
    margin: 0px -800px !important;
  }
 }
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
@media (max-width: 1199px) {
  img {
    zoom: 0.8;
    width: 80%;
    height: 80%;
  }
  .navbar-container-wrap {
    /* background-color: aqua; */
    display: flex;
    position: absolute;  
    right: 360%;  
  }  
  #landing {    
    height: 70vh !important;
        
  }
  #about,#community {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .power {
    color: #298DA2;
  }
  #etico-feature {
    /* padding: 0px !important; */
    padding-top: 80px;
    padding-bottom: 80px;
  }  
 } 
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}
/* ===================== Landing Start===================== */
@media (max-width: 991px) {
  
  #landing {    
    height: 95vh !important;  
    padding-top: 20%;
    padding-bottom: 20%;  
  }
  .logo-wrapper {
    zoom: 1.4;
    /* background-color:#47b2e4; */
  }
  #landing > .row__right {
    zoom: 2 !important;
  }  
  .landing-img img {    
  }    
  .nav-link.scrollto {    
    color: #111;    
  }
  .navbar-container-wrap {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;    
    left: 1%;  
  }
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
  .navbar .navbar-container .getstarted {
    margin-top: 9px;
  }
  .navbar .navbar-container .getstarted ul {
    box-shadow: 0px 0px 0px rgba(127, 137, 161, 0.25);
  }
  .navbar .navbar-container .getstarted ul li img{
    width: 24px;
   }

}
/* =====================991px Landing End===================== */

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* background: rgba(89, 179, 120, 0.9); */
  background: rgba(255, 99, 77, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: 800px;;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #111;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  /* color: #3D808E */
}
/* .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #37517e;
} */
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #3D808E;  
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
.navbar .getstarted, .navbar .getstarted {
  text-align: center;  
  /* background-color:#364651; */
  padding:0px;
 }
 .navbar .getstarted, .navbar .getstarted a {
  text-align: center;    
  /* padding:8px 8px; */
  padding:4px 20px;
  /* padding-left: 24px; */
  padding-right: 12px;
  color: #fff;
 }
.navbar .getstarted, .navbar .getstarted:focus {  
  /* padding: 2px 12px; */
  padding: 0px;
  /* padding-right: 16px; */
  /* margin-left: 20px; */
  border-radius: 8px;
  /* color: #fff;   */
  border: 2px solid #fff;
  font-weight: 600;  
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {  
  color: #111;
}
.navbar > .navbar-wrap {
  
}

/*--------------------------------------------------------------
# landing Section
--------------------------------------------------------------*/
#landing {
  width: 100%;
  height: 86vh !important;
  background: #FF634D;
  /* background: #59b378; */
  background-image:url(/assets/img/bg/background--pattern.png);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-attachment: fixed;
  background-size: cover;  
  overflow: visible;
  /* overflow-y: wrap; */
}
#landing .container .row__right {
    /* background-color: aqua; */
    position: absolute;
    top: 10%;
}
#landing .etico-mobile{   
   width: 1100px !important;
   height: auto !important;   
   object-fit: cover;
   position: absolute;
   top: -24%;
   right: -54%;
  }
@media (max-width: 1399px) {

}  
#landing .container {
  /* padding-top: 47px; */
  /* background-color:#23a3df; */
}
#landing .container .row__left{
  /* background-color:#3D808E; */
}
#landing .container .row__left h1{
  font-family: 'Days One', sans-serif;
  font-weight: 500;
  font-size: 56px;
  /* background-color:#47b2e4; */
  padding: 32px 0px;
  text-align: left;
  color: #fff;
 }
 #landing .container .row__left h2{
   font-size: 24px;
   text-align: left;
   color: #fff;
  }
 #landing .container .row__left{
   /* background-color:bisque; */
 }
#landing .container .row__right{
  /* background-color:#73c5eb; */
  display: flex;
  position: relative;  
  align-items:flex-end;
  /* overflow: hidden; */
 } 
 #landing .container .row__right >.m_1 {
   width: 310px;
   height: 462.18px;   
   /* background-color:#18d26e; */
   margin-top: -20px;
   }  
   #landing .container .row__right>img:last-child {    
    width: 269px;
    height: 205.71px;
    /* background-color: sandybrown;              */
    order:-1;    
   }
#landing h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;  
}
#landing h2 {
  font-weight: 400;
  color: #333;
  /* color: rgba(255, 255, 255, 0.6); */
  margin-bottom: 50px;
  font-size: 24px;
}

#landing .d_logo {
  width: 160px;
  height: 56px;
}
#landing img:first-child {
  width: 160px;
  height: 56px;
  margin-right: 12px;
}
#landing .btn-get-started:hover {
  background: #3D808E;
}
#landing .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}
#landing .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}
#landing .btn-watch-video:hover i {
  color: #47b2e4;
}
#landing .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.fade-in {
  opacity: 0;
}

@media (max-width: 991px) {  
  a {
    color: #111 !important;
  } 
  .row__right-landing {
    width: 400px !important;    
    zoom: 1;    
  } 
  .row--landing {
    /* background-color:rgba(89, 179, 120, 0.9); */
    justify-content: center;
  } 
  .row__right-landing {
    zoom: 1.2; 
    padding: 0px;  
  }
  .navbar .getstarted a {
    color: #111;
  }  
  .navbar .getstarted, .navbar .getstarted:focus { 
    padding: 0px;
    padding-right: 16px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;    
    color: #111;
    border: 2px solid #333;
    font-weight: 600;     
    top: 12%;        
  }

  }

  .img-etico-three {
    zoom: 0.6;
  }
  #landing {
    height: 100vh;
    text-align: center;
  }
  #landing .animated {
    -webkit-animation: none;
    animation: none;
  }
  #landing .landing-img {
    text-align: center;    
  }
  
  #landing .landing-img img {
    width: 50%;    
    /* width: 484px;
    height: 782px;
    object-fit: cover; */
  }
  .p__left {
    width: 440px !important;
    /* background-color:#59B378; */
  }
  .content {
    text-align: center;
  }
  .etico-feature .content {   }

  .etico-feature .content p {
    font-size: 15px;
    color: #111 !important;
    width: 440px;    
    /* background-color:#59B378;  */
    display: inline-block;   
  }
/* } */
@media (max-width: 768px) {
  #landing h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #landing h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #landing .landing-img img {
    width: 70%;
  }
}
@media (max-width: 575px) {
  #landing .landing-img img {
    width: 80%;
  }
  #landing .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
  .img-etico-three {
    zoom: 0.4;
  }
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
#about, #community {
  margin: 60px 0px;
}
.about .content h3 {
  font-weight: 600;
  font-size: 26px;  
}
.about .section-title { }
.about .section-title h2 {
  font-family: 'Days One', sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;  
 }
.about .section-title .h2-life {
  color: #298DA2;

 }
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-left: 28px;
  position: relative;
}
.about .content ul li + li {
  margin-top: 10px;
}
.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #47b2e4;
  line-height: 1;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content .btn-learn-more {  
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #47b2e4;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #47b2e4;
}
.about .content .btn-learn-more:hover {
  /* background: #47b2e4; */
  background: #3D808E;
  color: #fff !important;
  text-decoration: none;
  border: 2px solid #222 !important;
}
.about .content .btn-learn-more:hover a {  
  color: #fff   
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 120px 0;
  overflow: hidden;
  /* background-color:#848484; */
}
.section-bg-one, .section-bg-four {
  background-image: url(/assets/img/bg/bg--about.png);  
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;  
}
.section-title {
  text-align: center;
  /* transform:translateY(100%); */
  /* padding-bottom: 20px; */
  /* background-color:rgba(0, 0, 0, 0.9); */
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  /* text-transform: uppercase; */
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #222;
  font-family: "Days one" "sans-serif";
}

.about .container .row.content {
  /* margin-bottom: 0; */
  /* background-color:aqua; */
}
.about .container .row.content .content_center {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.about .container .row.content .content_center .p__left {
  /* position: absolute; */
  /* left: 50%;
  transform: translateX(-50%); */
  width: 40%;
  /* background-color:#18d26e; */
  text-align: center;
}
.about .container .row.content .content_center .p-two {
  width: 40%;
 }
.about .container .row.content .content_center .btn-two {
  margin-top: 20px;
  border-radius: 10px;
  color: #222;  
  border: 1.2px solid #222;  
 } 
 /* #about==>.about 4개 */
/*--------------------------------------------------------------
# etico_feature
--------------------------------------------------------------*/
.etico-feature {  
}
.etico-feature .etico-feature__left {
  /* width: 50%;   */
 } 
.etico-feature .container-fluid {
  /* background-color:#59B378; */
 }
.etico-feature .row {
  /* background-color: darkkhaki;   */
  display: flex;     
  align-items: center;
 }
.etico-feature .content {
  /* padding: 60px 100px 0 100px; */
  padding-left: 14%;
  /* background-color:cornflowerblue; */
  width: 45%;  
  text-align: left;
  /* !important */
}
.etico-feature .content h3 {  
  font-weight: 400;
  font-size: 48px;
  color: #111;
  /* background-color:#209dd8; */
  margin-bottom: 38px;    
}
.etico-feature .content p {
  font-size: 20px;
  /* width: 560px; */
  width: 100%;
  color: #222;
  /* background-color:#298DA2; */
}
.section-bg-one {
  padding: 0px;
  height: 732px;  
    
  /* position: relative; */
}
.section-bg-one .row {
  /* background-color:#47b2e4; */
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
 }
.etico-feature .row {  
  height: 702px;
  margin: 0px;
  /* background-color:darkorange;   */
  /* position: absolute; */
  
}
.etico-feature .img-etico {    
  width: 50%;      
  display: flex;
  justify-content: end;
  padding-right: 8%;  
  position: absolute;
  bottom: -30px;    
  right: 5%;
  /* display: block; */
}  
  /*--------------------------------------------------------------
# etico_feature_two
--------------------------------------------------------------*/
.etico-two {
  background-color:#394049;
  height: 764px;
  display: flex;
  align-items: center;
}
.etico-two .row-two {
  /* background-color: salmon; */
  display: flex;
  flex-direction: row;  
  align-items: center;
 }
 .etico-two .content,
 .section-bg-four .content {
  width: 40%;
  /* background-color: sandybrown; */
  padding-left: 6% !important;
  padding-right: 8%;   
  }
  .etico-two .row-two .content h3{
    /* background-color:#B6D65A; */
    /* position: absolute; */
    color: #fff;
    width: 120%;    
    left: 0px;   
   }
   .etico-two .row-two .content p{
    /* background-color:#B6D65A; */
    color: #fff !important;
    width: 120%;
   }
  .etico-two .row-two .content>h3{
   /* background-color: salmon;    */
  }
  .etico-two .row-two .content h3 .sources{
    color: #3ECF6F;
   }
  .etico-two .row-two .img-etico-two {
  width: 50%;
  /* background-color:#18d26e; */
  order:-1;
  display: flex;
  justify-content:center;
      
  }
  .etico-two .row-two .img-etico-two-wrap {
    position: relative;
    background-color:#47b2e4;
  }
   .etico-two .row-two .img-etico-two .m_4{
    /* position: absolute; */
    width: 728px;
    height: 100%;
    /* width: 310px; */
    /* height: 462.18px; */
  } 
@media (max-width: 1024px) {
  .etico-feature .content, .etico-feature .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .content {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    padding: 4% 4% !important;
  }
  .content > p {
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
   }
  .etico-feature .img {
    min-height: 400px;
  }
  .etico-feature .content {
    padding-top: 30px;
  }
  .etico-feature .accordion-list {
    padding-bottom: 30px;
  }
  .etico-two .row-two .img-etico-two {
    width: 50%;
    /* background-color:#18d26e; */
    order:-1;
    display: flex;
    justify-content: center;   
    padding: 0px; 
    }
  .etico-feature .img-etico {
    /* background-color:darkorange;   */
     width: 50%;      
     display: flex;
     justify-content: center;
     padding-right: 0%;
    }
  .etico-feature .content {
      /* padding: 60px 100px 0 100px; */      
      /* background-color:cornflowerblue;     */
      width: 68%;  
    }
  .section-bg-one {
      /* background:linear-gradient( to top, #F5F2F1 50%, #FF634D 50% ); */
      background: #ff634d;
  } 
  .section-bg-four {    
}
  
  .section-bg-one > .container-fluid> .row-feature,
  .section-bg-five > .container-fluid> .row-feature  {
      /* background-color:yellow; */
      display: flex;
      flex-direction:column-reverse;
  }   
   .section-bg-three {
    width: 100%;
    height: 900px !important;
    background-color:cornflowerblue;
    position: relative;
    /* padding-top: 40px !important; */
  }
  .section-bg-three .container-fluid {
    /* background-color: #B6D65A; */
    width: 100%;
    margin-top: -10%;
  }
  .section-bg-three .container-fluid .row-three {
    /* background-color: aquamarine; */
    width: 100%;    
  }
  .section-bg-three .container-fluid .row-three .content{
    /* background-color:#298DA2; */
    width: 100%;     
  }
  .section-bg-three .container-fluid .row-three .img-etico-three {
    width: 100%;
    /* background-color:#73c5eb; */
    display: flex;
    flex-direction: row;
    justify-content: center;    
    padding-top: 60px;
    position: absolute;
    top: 44%;
   }   
   .section-bg-three .container-fluid .row-three .img-etico-three .m_3{
    width: 540px;    
   }     
  .etico-feature .img-etico-three .m_left,
  .etico-feature .img-etico-three .m_right {      
    display: none;
  } 
  /* ======================Section-Four, Empower====================== */
  /* ======================Section-Five====================== */
  #etico-feature.section-bg-four {
    background-image: url('/assets/img/bg/bg2-tablet991.png') !important;
    background-size: cover;
    background-attachment: scroll;   
    
  }
  .section-bg-four .container-fluid {
    /* background-image: url('/assets/img/bg/bg2-tablet991.png') !important; */
  }
  .section-bg-four .container-fluid .row,
  .section-bg-five .container-fluid .row {
    /* background-color:#3ECF6F; */
    display: flex;    
    justify-content: flex-start;
    position: relative;
    height: 840px;
  }
  .section-bg-four .container-fluid .row .content,
  .section-bg-five .container-fluid .row .content {
    /* background-color:salmon;     */
    width: 100%;
    margin-left: 0.1%;   
  }
  .section-bg-four .container-fluid .row .content p {
    text-align: left;
    /* padding-left: 10%; */
   }
   .section-bg-five .container-fluid .row .content p {
    text-align: left;
   }
  .section-bg-four .container-fluid .row .img-etico-empower,
  .section-bg-five .container-fluid .row .img-etico-five {
    position: absolute;
    width: 600px;
    top: 30%;
    margin-left: 8%;
  }
  .section-bg-five .container-fluid .row .img-etico-five {
    width: 900px ;
    margin-top: 4%;
    margin-left: 12%;
   }

   .cta > .container > .row {
     /* background-color:#B6D65A; */
     display: flex;
     flex-direction: column;
     justify-content: center; 
   }
   .cta > .container > .row > .cta-btn-container {
     display: flex;
     justify-content: center;
    }
   .cta .cta-btn {  
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 10px;
    transition: 0.5s;
    margin: 10px;
    border: 1px solid #111;
    color: #111;
  }
  .cta .cta-btn:hover {
    background:  #59B378;
    border: 2px solid #59B378;
  }
  #sns > .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .row.row-sns {
    /* background-color:#47b2e4; */
    width: 140%;
    margin-left: -20%;
    display: flex;
    display: column;
  }     
}
@media (max-width: 575px) {
  .etico-feature .img {
    min-height: 200px;
  }
}
/*--------------------------------------------------------------
# Impacts
--------------------------------------------------------------*/
.record-box {
  border-radius: 8px;
  text-align: center;
}
.Impacts {
  background-color: #F5F2F1;
  background:linear-gradient( to top, #f5f2f1 54%, #59b378 46% ); 
}
.Impacts .section-title {
  display: flex;
  align-items: center;
  flex-direction: column;  
}
.Impacts .section-title .what-we {
  font-family:'Days one''sans-serif' !important;
  font-size: 48px !important;  
  color: #fff !important;  
  width: 60%;  
 }
 .row-Impacts {
   display: flex;
   justify-content: center;
   margin:0px -100px;
   flex-wrap: wrap;
 }
 .row-Impacts > .col-xl-3 {
   width: 260px !important;
   /* background-color: #47b2e4; */
   border-radius: 8px;
   margin-left: 1.4% !important;
   margin-right: 1.4% !important;
   display: flex;
   flex-direction: column;
   justify-content: start;
   padding: 0px !important;  
  }
  @media (max-width:1399px) {
    .row-Impacts > .col-xl-3 {
      width: 260px !important;
      /* background-color: #47b2e4; */
      border-radius: 8px;
      margin-left: 3px !important;
      margin-right: 3px !important;
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 0px !important;  
     } 
   }
  @media (max-width:1200px) {
    .row-Impacts > .col-xl-3 {
      margin: 0px 2px !important;      
     }
  }
  @media (max-width:1199px) {
    #sns .row, #Impacts .row {      
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    #sns .row .col-xl-3 , 
    #Impacts .row .col-xl-3 {
      width: auto;      
      margin: 3% 6% !important;  
      border-radius: 20px !important;    
    }
    #sns .row .col-xl-3 {
      padding: 0px !important;
     }
    #sns .row .col-xl-3 .record-box {   
      width: 500px;         
      border-radius: 8px !important;
    } 
    #sns .row .col-xl-3 .record-box img{
      width: 100%;      
      zoom: 20%;
      border-radius: 100px !important;
      object-fit: cover !important;      
    }
/* ======================================================= */
/* achieved */
/* ======================================================= */
    #Impacts .row {
      display: flex;
      justify-content: center ;
      margin-left: -140px;
     }     
    #Impacts .row .col-xl-3 {
      margin: 0px 10% !important;
     }
  
    #Impacts .row .col-xl-3 .record-box img{
      width: 100%;            
      border-radius: 100px !important;
      object-fit: cover !important;  
      margin-left: 50%;
      transform: translateX(-50%);
     }
   }
  .row-Impacts > .col-xl-3:nth-child(-n+2) > .record-box > h4 {
    margin-top: 20% ;    
   }
   .row-Impacts > .col-xl-3:last-child > .record-box > h4 {
    margin-top: 12% !important;
    } 
.row-Impacts .record-box {  
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.0);
  padding: 20px 10px;
  padding-top: 0px;
  transition: all ease-in-out 0.4s;  
  /* margin-top: 4%;     */
  zoom: 0.9;
  border-radius: 8px;  
  height: 500px;
}
.row-Impacts .record-box img{
  width: 320px;
  margin-bottom: 10%;
  margin-left: 50%;
  transform: translateX(-50%);  
  object-fit: cover;  
 }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #222;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #222;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;  
  font-weight: 600;
  color: #777;
}
#footer .footer-top .footer-contact p {  
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;  
  color: #777;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #777;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #777;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #59B378;  
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #59B378;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #59B378;
  color: #fff;
  text-decoration: none;
}
#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;  
  text-align: center;
}
.footer-bottom .copyright {
  margin-left: 50%;
  transform: translateX(-50%);
}
/* #footer .copyright {
  float: left;
}
#footer .credits {
  float: right;
  font-size: 13px;
} */
#footer .credits a {
  transition: 0.3s;
}
.osn-p {
  font-size: 14px;
  color: #777;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}
/* ===========================section-bg-three========================== */
.section-bg-three {  
  background-color:#f5f2f1;  
  padding-bottom: 0px;  
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-bg-three > .container-fluid> .row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* text-align: center !important;   */
  /* align-items: center; */
  /* background-color:#59B378;   */
  /* position: relative; */
}
.section-bg-three > .container-fluid> .row > .content {
  /* background-color:#3ECF6F;   */
  display: flex;
  justify-content: center;
  flex-direction: column;  
  padding: 0px;
  text-align: center;
  width: 100%;
}
.section-bg-three h3 {  
  /* background-color:#298DA2; */
  margin-left: 50%;
  transform:translateX(-50%);
  /* width: 30%; */
  }
.section-bg-three .content-p {  
  margin-left: 50%;
  transform: translateX(-50%);
  width: 543px !important;

  }

 .section-bg-three > .container-fluid> .row > .content > h3,
 .section-bg-three > .container-fluid> .row > .content > p {
   text-align: center;
  }
  .etico-feature .img-etico .m_3,
  .etico-feature .img-etico-three .m_left,
  .etico-feature .img-etico-three .m_right {
    width: 398px !important;    
    bottom: 0px;  
    /* background-color:#18d26e;*/
  }
  .etico-feature .img-etico-three {
    width: 50%;
    /* background-color:#73c5eb; */
    display: flex;
    align-items: flex-end;    
    padding-top: 100px;
    justify-content: space-around;   
   }
   .etico-feature .img-etico-three .m_3 {
    zoom: 1.1;
     order: 1;     
    }
   .etico-feature .img-etico-three .m_left {  
    zoom: 1.1;
      }
   .etico-feature .img-etico-three .m_right {      
    zoom: 1.1;  
    order: 2;
   } 
  .power {
    color: #298DA2;
  }
/* ==============================================================
  .section-bg-four
============================================================== */
.section-bg-four {
  background-image: url(/assets/img/bg/bg--about--2.png) !important;  
  background-repeat: no-repeat;
  background-position: center;  
  background-size: cover;  
 }
 .section-bg-four {  
  /* height: 764px; */
  height: auto;
  display: flex;
  padding-bottom: 0px;  
}
.section-bg-four .row-two {
  /* background-color: salmon; */
  display: flex;
  flex-direction: row;
  /* justify-content:flex-start;     */
 }
 .section-bg-four .row-two .content {
   /* margin-left: -30% ; */
   margin-left: -19% ;
   margin-top: -6%;
   /* background-color:#3ECF6F; */
  }  
 .section-bg-four .row-two .content h3 {
  color: #111 !important;
     }

 .section-bg-four .row-two .content .catalyst {
  color: #111 !important;
  
     }   
 .section-bg-four .row-two .img-etico-empower {
  width: 50%;
  /* background-color:#18d26e; */
  order: -1 !important;  
  bottom: 0px;
  /* margin-top: 4%; */
  margin-left: -3%;
  
  }    
  .section-bg-four .row-two .img-etico-empower .empower {  
    width: 680px;
    height: 100%;        
  }
  .section-bg-four .row-two .content h3{
    /* background-color:#B6D65A; */
    /* position: absolute; */
    color: #fff;
    width: 120%;    
    left: 0px;   
   }
   .section-bg-four .row-two .content p{
    /* background-color:#B6D65A; */
    color: #fff !important;
    width: 120%;
   }
   .section-bg-four .row-two .content>h3{
   /* background-color: salmon;    */
  }
  .section-bg-four .row-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
/*--------------------------------------------------------------
.section-bg-five
--------------------------------------------------------------*/  
.section-bg-five {
  background-color: rgba(38, 46, 56, 1);
  padding: 70px 0px;
}
.section-bg-five .container-fluid { }
.section-bg-five .container-fluid .row-feature {
  /* background-color:yellowgreen; */
  display: flex;
  justify-content: start;
 }
.section-bg-five .container-fluid .row-feature .content{ }
.section-bg-five .container-fluid .row-feature .content h3{
  color: #fff;
 }
 .section-bg-five .container-fluid .row-feature .content h3 span{
  color: rgba(62, 207, 111, 1); 
  } 
 .section-bg-five .container-fluid .row-feature .content p {
   color: #fff !important;
  } 
  .section-bg-five .container-fluid .row-feature .img-etico {
   width: 100%;
   /* background-color:#298DA2;   */
   left: 1%;
   top: 4%;   
   height: 84%;
   
  } 
  .section-bg-five .container-fluid .row-feature .img-etico .menu-community{
    max-width: 100%;
    height: auto;
   }
/*--------------------------------------------------------------
# Hello etico World
--------------------------------------------------------------*/
.sns {
  background: #F4F2F1; 
}
.sns .container { }
.sns .container .row-sns {
  /* background-color:#298DA2; */
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0px;     
 }
.col-xl-3 {
  margin: 0px -10px !important;
  display: flex;
  justify-content: center;  
}
.sns .section-title {  
  display: flex;
  align-items: center;
  flex-direction: column;     
}
.sns .section-title h2 {
  font-family:'Days one''sans-serif' !important;
  font-size: 48px;  
  color: #222 !important;
 }
.sns .section-title p {
  width: 60%;  
  color: #222;
 }
.sns .row-sns .row-sns-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;  
  /* background-color:yellowgreen; */
  margin: 0px;
}
.sns .record-box {
  width: 100%;
  zoom: 0.86;    
  transition: all ease-in-out 0.4s;    
  margin-top: 20%;  
  border-radius: 8px;    
}
.sns .record-box img{
  width: 360px;
  border-radius: 8px;
  object-fit: cover;
 }
 /*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {    
  background-color: #262E38;
  background-size: cover;
  padding: 120px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cta .row {
  /* background-color: #B6D65A; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  
 }
.cta h3 {
  /* background-color:#298DA2; */
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.cta p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin-top: 3%;
}
.cta .cta-btn-container {
  /* background-color:#298DA2; */
  width: 160%;  
  display: flex;
  justify-content: center !important;
  margin-top: 4%;
 }
.cta .cta-btn {        
  width: 18%;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 18px;
  transition: 0.5s;
  margin: 10px;
  background:  #59B378;
  /* border: 2px solid #59B378; */
  /* border: 1px solid #111; */
  color: #fff;
  /* margin-left: 50%;
  transform: translateX(-50%); */
  box-shadow: 0px 3px 20px 0px rgba(62, 207, 111, 0.3);

}
.cta .cta-btn:hover {
  /* background:  #59B378; */
  /* border: 2px solid #59B378; */
  background: rgba(169, 228, 189, 1);

}
@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}
@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
@media (max-width:1399px) {
  #landing {
    height: 70vh !important;
    
  } 
  #landing .container .row__right {    
    display: flex;
    position: relative;  
    align-items:flex-end;    
   } 
   #landing .container .row__right .etico-mobile {
    zoom: 0.9;
    top: -8%; 
    }
  .row-Impacts > .col-xl-3 {
    width: 260px !important;    
    border-radius: 8px;
    margin-left: 3px !important;
    margin-right: 3px !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0px !important;  
   }
   .section-bg-five {
     padding: 40px 0px;
   } 
   .section-bg-five .container-fluid .row-feature .img-etico {
    width: 64%;      
    left: 36%;
    top: 8%;   
    height: 72%;   
   }
   .section-bg-five .container-fluid .row-feature .img-etico .menu-community{
    max-width: 100%;
    height: auto;
   }
   .sns {  }
   .sns .container {
     /* background-color:turquoise; */
   }
   .sns .row-sns {
    /* background-color:thistle; */
   }
   .sns .row-sns-wrapper {
     /* background-color:rgba(62, 207, 111, 1); */
     display: flex;
     justify-content: space-around !important;
   }   
   .sns .record-box {
    width: 100%;
    zoom: 0.8;    
    transition: all ease-in-out 0.4s;    
    margin-top: 20%;  
    border-radius: 8px;    
    margin-left: -14%;    
  }
  .sns .record-box:first-child {
    /* margin-left: 0px; */
 }
 .section-bg-four .row-two .img-etico-empower {
  width: 50%;
  /* background-color:#18d26e; */
  order: -1 !important;  
  bottom: 0px;  
  margin-left: -3%;  
  }    
  .section-bg-four .row-two .img-etico-empower .empower {  
    width: 680px;
    height: 100%;    
    margin-bottom: 2%;    
  }
}
/* max-width:1399px */
@media (max-width: 991px) {
  #about {
    margin: 0px 0px;
  }

  #landing {    
    height: 95vh !important;  
    padding-top: 10%;
    padding-bottom: 10%;  
  }
  #landing .container {
    
    }  
  #landing .container .row--landing {
    
   } 
  #landing .container .row--landing .row__left {
    /* background-color:#298DA2; */
    margin-top: -46%;
   } 
  #landing .container .row--landing .row__left .title-wrapper{
    /* background-color:#3ECF6F; */
   } 
   #landing .container .row--landing .row__left .title-wrapper{

}
#landing .container .row--landing .row__left .title-wrapper .fade-in-wrapper{ }
#landing .container .row--landing .row__left .title-wrapper .fade-in-wrapper .logo-wrapper{
  /* background-color:#298DA2; */
  display: flex;
  justify-content: flex-start !important;
  zoom: 1.4;
 }
 #landing .container .row--landing .row__right {
  background-color:#298DA2 !important;
  zoom: 0.8;
  margin-left: 50%;   
 } 
  #landing .container .row--landing .row__right .etico-mobile {
  /* background-color:#298DA2; */
  margin-top: 20%; 
   } 
  #about {
    padding: 20%;
    
  }
  #etico-feature {}
  #etico-feature .container-fluid{
    /* background-color:#F4F2F1; */
  }
  #etico-feature.section-bg-one,
  #etico-feature.section-bg-four {
    padding-bottom: 0px;
    height: 920px !important;    
  }
  .section-bg-one {
    background-image:url('/assets/img/bg/bg1-tablet991.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }  
  #etico-feature.section-bg-one .container-fluid .row {
    /* background-color:#3ECF6F; */
    display: flex;
    flex-direction: column;
    /* margin-left: -8%; */
    /* justify-content: flex-start; */
    /* padding-top: !important; 
    margin-top: -40%; */
    position: relative;  
  }
  #etico-feature .container-fluid .row .content {
    /* background-color:#298DA2; */
    width: 80%;    
  }
  #etico-feature .container-fluid .row .content h3 {
    width: 90%;
   }  
  #etico-feature .container-fluid .row .content p {
    text-align: left;
    width: 86%;
    margin-left: 43%;
   }
  #etico-feature.section-bg-one .container-fluid .row .img-etico{    
    position: absolute;
    top: 54%;
    left: 2%;        
    width: 100%;
    height: 68%;
    display: flex;
    justify-content: center; 
           
    }        
  .section-bg-two {
    height: auto;
  } 
  .section-bg-two .container-fluid{}
  .section-bg-two .container-fluid .row-two{
    /* background-color:#298DA2; */
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: center;
    height: 800px;
    width: 100% !important;
  } 
  .section-bg-two .container-fluid .row-two .img-etico-two{
    /* background-color: #B6D65A; */
    width: 100%;
    height: 60% !important;
    display: flex;
    justify-content: center;
    order: 1;
  } 
  .section-bg-two .container-fluid .row-two .img-etico-two .m_4 {
    /* background-color: salmon;     */
    width: 720px !important;        
   }
  .section-bg-two .container-fluid .row-two .content{
   width: 100%;
  /* background-color:yellowgreen;     */
  } 
  .section-bg-two .container-fluid .row-two .content p {
    /* background-color:#73c5eb; */
    width: 100%;
    text-align: left;
  }
  .section-bg-three .container-fluid .row-three .content-verify {
    /* background-color:#298DA2; */
  }
  .section-bg-three .container-fluid .row-three .content-verify .content-p {
    /* background-color:yellowgreen !important; */
    margin-left: 50% !important;
    text-align: center!important;
   }
  /* ======================etico World====================== */
#sns {
  /* background-color:mediumpurple !important; */
  height: 2400px;
}
#sns .container {
  /* background-color:mediumpurple !important; */
  display: flex;
  flex-direction: column;
  justify-content: center;  
  position: relative;
  width: 100%;
}
#sns .container .section-title {
  /* background-color: blue; */
}
#sns .container .row-sns {
  background-color: blue;
}
#sns .container .row-sns .row-sns-wrapper {
  /* background-color:yellow; */
  width: 100%;
  position: absolute;
  left: 0px;
  top: 70%;
}
#sns .container .row-sns .row-sns-wrapper .col-xl-3,
#sns .container .row-sns .row-sns-wrapper .col-xl-3 .record-box {
  /* background-color:#3ECF6F; */
  display: flex;
  justify-content: center;
  height: 460px;  
}
#sns .container .row-sns .row-sns-wrapper .col-xl-3 .record-box {
  margin-left: 100%;
  transform: translateX(-50%);  
}
#sns .container .row-sns .row-sns-wrapper .col-xl-3 .box-two {
  margin-top: 70px;
  zoom: 0.85;
}
#sns .container .row-sns .row-sns-wrapper .col-xl-3 .box-three {
  margin-top: 120px;
  zoom: 0.7;
 }
 #sns .container .row-sns .row-sns-wrapper .col-xl-3 .box-four {
  margin-top: 20px;
  zoom: 0.82;
 }
#sns .container .row-sns .row-sns-wrapper .col-xl-3 .record-box img{
  object-fit: cover;
  /* width: 4000px;
  height: 4000px; */
  width: 200rem;
  height: 200rem;
  /* zoom: 0.2; */
}  
/*===========================Achieved=========================== */
#Impacts {
  background-color: #70B07D !important;
}
#Impacts .container {
  width: 100%;
  /* background-color:#73c5eb; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -10%;
}
#Impacts .section-title {}
#Impacts .row-Impacts {
  /* background-color:#3ECF6F; */
  margin:0px -100px;
  height:700px;
  
}
#Impacts .row-Impacts .col-xl-3{
  /* background-color:#298DA2; */
  zoom: 0.7;
}
#Impacts .row-Impacts .col-xl-3 .record-box{
  /* background-color:violet; */
  width: 200%;
  height: 800px;
  margin-left: -50%;
  margin-bottom: -50%;
}
#Impacts .row-Impacts .col-xl-3 .record-box img{
  width: 80%;
}
/*===========================CTA=========================== */
#cta {}
#cta .container {}
#cta .container .row {}
#cta .container .row .text-center {}
#cta .container .row .cta-btn-container {}
#cta .container .row .cta-btn-container .cta-btn {
  width: 328px;
  border: 0px;
  color: #fff !important;
}
/*===========================Footer=========================== */
#footer {}
#footer .footer-top {}
#footer .footer-top .container {}
#footer .footer-top .container .row {}
#footer .footer-top .container .row .col-lg-3{}
#footer .footer-top .container .row .col-lg-3 .social-links {
  color: #fff !important;
}
#footer .footer-top .container .row .col-lg-3 .social-links a { }
#footer .footer-top .container .row .col-lg-3 .social-links a .bx{
  color: #fff !important;
 }
#footer .footer-top .container .row .col-lg-3 ul {}
#footer .footer-top .container .row .col-lg-3 ul li {}
#footer .footer-top .container .row .col-lg-3 ul li a{
  color: #777 !important;
}
}
/* @media (max-width: 375px) {  iphone 8 Viewport*/ 
/* @media (max-width: 414px) {  Galaxy Note 9 Viewport*/ 
@media (max-width: 414px) {
  .navbar .navbar-container .getstarted {
    margin-top: 60px;
  }
  #etico-feature.section-bg-four {
    background-color: #F4F2F1 !important;   
    
  }
  #etico-feature .container-fluid .row .content {
    /* background-color:#298DA2; */
    width: 100%;    
  }
  #about, #community {
    margin: 0px 0px;
  }
  #landing {    
    height: 100vh !important;  
    padding-top: 50%;
    padding-bottom: 10%;  
  }
  #landing .container {    }  
  #landing .container .row--landing {   } 
  #landing .container .row--landing .row__left {
    /* margin-top: -46%; */
   } 
  #landing .container .row--landing .row__left .title-wrapper{

   } 
  #landing .container .row--landing .row__left .title-wrapper h1 {
    font-weight: 400;
    line-height: 61.1px;
    padding: 10px 0px;
    margin-top: -42%;
  }
  #landing .container .row--landing .row__left .title-wrapper h2 {
    font-family:'Work Sans','sans-serif';
    font-weight: 400!important;
    font-size: 16px;
    line-height: 18px;
   }
#landing .container .row--landing .row__left .title-wrapper .fade-in-wrapper{ }
#landing .container .row--landing .row__left .title-wrapper .fade-in-wrapper .logo-wrapper{  
  display: flex;
  justify-content: center !important;
  zoom: 1.3;
 }
 #landing .container .row--landing .row__right-landing {
  /* background-color:#298DA2 !important; */
  zoom: 0.6;
  margin-left: 50%;     
 } 
  #landing .container .row--landing .row__right .etico-mobile {  
  margin-top: 24%; 
   } 
  
  #about,#community {
    padding: 30% 0px;
  } 
  .section-title h2 {
    font-size: 28px !important;
    padding-bottom: 0px;
    margin-bottom: 16px;
  }
  .p__left {
    width: 327.4px !important;
    font-size: 16px;
    font-weight: 500;
  }  
  /* ==================== etico-feature Section-1 ===================== */
  #etico-feature.section-bg-one {
    height: 640px !important;
    background-color:#298DA2;
  }
  .section-bg-one .container-fluid,
  .section-bg-two .container-fluid,
  .section-bg-four .container-fluid .row,
  .section-bg-five .container-fluid .row {
    height: 500px;
  }
  .section-bg-two .container-fluid {
    margin-bottom: 100px;
   }
  .section-bg-one .container-fluid .row-feature,
  .section-bg-two .container-fluid .row,
  .section-bg-four .container-fluid .row {
    height: 530px;
  }
  
  .section-bg-one .container-fluid .row-feature .content,
  .section-bg-two .container-fluid .row .content {
    padding: 0px !important;
    display: flex;
    flex-direction: column;    
  }
  .section-bg-one .container-fluid .row-feature .content h3,
  .section-bg-two .container-fluid .row .content h3,
  .section-bg-three .container-fluid .row .content h3,
  .section-bg-four .container-fluid .row .content h3,
  .section-bg-five .container-fluid .row .content h3,
  #Impacts .container .section-title h2 {
    width: 328px;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: -10%;
   }
   #Impacts .container .section-title h2 {
     font-size: 28px !important;
   }
   .section-bg-four .container-fluid .row .content h3 {
     margin-left: -7%;
    }
    .section-bg-five .container-fluid .row .content h3 {
      margin-left: -3.8%; 
    } 
   .section-bg-three .container-fluid .row .content h3 {
     margin-top: 20%;     
    }
   .section-bg-one .container-fluid .row-feature .content p,
   .section-bg-two .container-fluid .row .content p,
   .section-bg-four .container-fluid .row .content .catalyst,
   .section-bg-five .container-fluid .row .content p {
    width: 326px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px !important;
    padding-left: 0px;  
    margin-left: 42%;  
    }    
    #sns {}
    #sns .container {}
    #sns .container .section-title h2{
      margin-bottom: 20px;
    }
    #sns .container .section-title p {
      width: 326px;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;     
      width: 327px !important;   
    }
    .section-bg-three .container-fluid .row .content p {
    width: 326px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;     
    width: 327px !important; 
    }
    .section-bg-four .container-fluid .row .content .catalyst {
     transform: translateX(-58%);
     }
     .section-bg-five .container-fluid .row .content p {
      transform: translateX(-54%);  
      }
    .section-bg-one .container-fluid .row-feature .img-etico {
      zoom: 1.4 !important;
      width: 174px !important;
      /* background-color:violet; */
      margin-left: 18% !important;
      margin-top: -16%;  
      height: 240px !important;
     }   
  .section-bg-one .container-fluid .row-feature .img-etico .m-3 {
    width: 174px !important;
    height: 100px;
  }
/* ===================================section-bg-two============================ */
  .section-bg-two .container-fluid .row .img-etico-two .m_4 {
    margin-top: 16% !important;
  }  
/* ===================================section-bg-three============================ */  
  #etico-feature.section-bg-three {
    height: 660px !important;
    padding-bottom: 0px !important;
  }
/* ===================================section-bg-four============================ */    
.section-bg-four .container-fluid .row { 
  
 }
.section-bg-four .container-fluid .row .img-etico-empower {
  margin-top: 15% !important;
  height: 360px;
  
}  
#etico-feature.section-bg-four {
  padding-top: 50px !important;
  height: 660px !important;
 }
/* ===================================section-bg-five============================ */    
.section-bg-five .container-fluid .row .img-etico-five {
  width: 100%;
  margin-top: 16%;
  margin-left: -2%;
}
.section-bg-five .container-fluid .row .img-etico-five img {
  width: 100%;
 }

 /* =========================SNS================================================== */
 #sns {
   padding: 80px 0px;
   height: 1800px;
 }
 #sns .container .row-sns .row-sns-wrapper .col-xl-3{
   height: 360px;
 }
 #sns .container .row-sns .row-sns-wrapper .col-xl-3 .record-box {
   zoom: 0.6;
 }

 #sns .container .row-sns .row-sns-wrapper .col-xl-3 .box-two {
  zoom: 0.65;
  }
  #sns .container .row-sns .row-sns-wrapper .col-xl-3 .box-three {
  zoom: 0.54;
   } 
  #sns .container .row-sns .row-sns-wrapper .col-xl-3 .box-four {
    zoom: 0.65;   
 }

 /* =================================IMPACTS=============================== */
 #Impacts .container {
   display: flex;
   justify-content: center;
   /* background-color:#3ECF6F; */
 }
 #Impacts .container .row-Impacts {
   /* background-color:#298DA2; */
   zoom: 0.6;
   width: 100%;
   justify-content: space-around;
   margin-left: 50%;
   transform:translateX(-50%);
   /* flex-wrap: nowrap; */
   /* flex-direction: column; */
  }
  #Impacts .container .row-Impacts .col-xl-3 {    
   }
  #Impacts .container .row-Impacts .col-xl-3 .record-box {
    /* margin: 0px 80px; */
    /* zoom: 1.2; */
   }
/* ========================================CTA=============================== */   
  #cta {
    padding: 80px 0px;
  }
  #cta .container {}
  #cta .container .row {}
  #cta .container .row .col-lg-9 {}
  #cta .container .row .col-lg-9 h3 {
   font-size: 28px;
  }
  #cta .container .row .col-lg-9 p {
    font-size: 15px;
    width: 327px;
    margin-left: 50%;
    transform:translateX(-50%);
    margin-bottom: 30px;
   }
}
/* 415px end */


@media (max-width: 390px) {
  #Impacts .container .row-Impacts {
    /* background-color:#298DA2; */
    zoom: 0.6;
    width: 100%;
    justify-content: space-around;
    margin-left: 50%;
    transform:translateX(-50%);    
    /* flex-wrap: nowrap; */
    /* flex-direction: column; */
   }



  .section-bg-one .container-fluid .row-feature .content p,
   .section-bg-two .container-fluid .row .content p,
   .section-bg-four .container-fluid .row .content .catalyst,
   .section-bg-five .container-fluid .row .content p {
    width: 326px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px !important;
    padding-left: 0px;  
    margin-left: 45%;  
    }    
} 
@media (max-width: 375px) {
  .section-bg-one .container-fluid .row-feature .content p,
   .section-bg-two .container-fluid .row .content p,
   .section-bg-four .container-fluid .row .content .catalyst,
   .section-bg-five .container-fluid .row .content p {
    width: 326px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px !important;
    padding-left: 0px;  
    margin-left: 47%;  
    }    
} 

@media (max-width: 375px) {
  #Impacts .container .row-Impacts {
   /* background-color:#298DA2; */
   zoom: 0.62;
   width: 110%;
   justify-content: space-around;
   margin-left: 50%;
   transform:translateX(-50%);
   /* flex-wrap: nowrap; */
   /* flex-direction: column; */
  }
 }

